.App {
  text-align: center;
}

.sizeButton {
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  border: 1px solid #1b0ebf;
  outline: none;
  border-radius: 6px;
  background: #ffffff;
  font-size: 18px;
}
